table {
    border-collapse: collapse;
    width: 100%;
}
td,th {
    padding: 0.5em 1em;
    word-break: break-all;
    height: auto;
}

thead>tr {
    border-top: 1px solid black;
    border-bottom: 0.5px solid rgb(124, 122, 122);
}
tbody>tr {
    border-bottom: 0.5px solid rgb(124, 122, 122);
}

table .bold {
    font-weight: bold;
}
table .center {
    text-align: center;
    color: rgb(165, 164, 164);
}


.paging {
    text-align: center;
}

.pagenum {
    text-decoration: none;
    padding: 0.5em 1em;
    color: grey;
}
.pagenum:hover {
    background-color: rgb(232, 240, 240);
    border: 1px solid gray;
}
a.active {
    text-decoration: underline;
    font-weight: bold;
    color: black;
}

.movep {
    text-decoration: none;
    padding: 0.5em 0.8em;
    border: 1px solid rgb(184, 182, 182);
    font-weight: bold;
    color: black;
}