* {
    margin: 0; padding: 0;
}

.top-menu {
    list-style-type: none;
    margin: 0; padding: 0;
    background-color: bisque;
}

/* top-menu 클래스 내부의 후손 menu-item 클래스 요소에만 적용 */
.top-menu .menu-item {
    display: inline-block; /* 화면 배치는 inline 레벨이면서, content 에는 block 에 대한 속성 지정 */
    margin: 0; padding: 0;
    box-sizing: border-box; /* 테두리 기준으로 박스 크기 지정 */
    background-color: antiquewhite;
}

/* menu-item 클래스의 자손 a 태그에 대해서
  메뉴 1, 메뉴 2, 메뉴 3, 메뉴 4 의 a 태그들에 대해서만 적용됨 */
.menu-item > a {
    display: inline-block;
    padding: 1em 2em; /* 상우하좌의 시계방향; 상하 좌우 */
    text-decoration: none;
    color: black;
    font-weight: 700;
}
.menu-item > a:hover {
    background-color: coral;
}

.top-menu .active {
    background-color: chocolate;
}

.dropdown {
    /* 이전(부모) 요소에 자연스럽게 연결하여 위치 지정
      상대적인 */
    position: relative;
}

.sub-menu {
    list-style-type: none;
    background-color: antiquewhite;
    margin: 0; padding: 0;
    display: none; /* 화면에 표현되지 않고, 공간을 차지하지 않음 */
    position: absolute; /* 원하는 위치 지정하여 배치 */
    width: 150%; /* 상위 요소에 맞춰짐 */
}

/* sub-menu-item 클래스 내부의 a 태그에 대해서
  하위 메뉴 1, 하위 메뉴 2 의 a 태그들에 대해서만 */
.sub-menu-item > a {
    display: block; /* block 레벨 요소로 */
    padding: 1em 0 1em 3em;
    text-decoration: none;
    color: black;
    font-weight: 700;
}

.sub-menu-item > a:hover {
    background-color: coral;
}

/* 메뉴 4가 포함된 dropdown 클래스에 마우스 오버 시
  하위 메뉴를 포함한 sub-menu 가 block 레벨 형태 */
.dropdown:hover .sub-menu {
    display: block;
}