* {
    margin: 0; padding: 0;
    box-sizing: border-box; /* border 포함 크기 지정 */
}

.login {
    margin: 0 auto;
    width: 400px;
}

.login-form {
    margin: 12px 0;
    border: 1px solid rgb(184, 183, 183);
    border-radius: 6px;
    padding: 8px;
}

.input-form {
    padding-bottom: 9px;
}

.input-form>label {
    font-size: 12px;
    font-weight: bold;
    color: rgb(70, 67, 67);
}

.input-form>input[type=text] {
    /* text 타입의 input 은 블럭 형태이나 inline 레벨로 정렬되는데
      width 가 100% 이기 때문에 lebel 의 다음 줄에 작성된다. */
    width: 100%;
    display: inline-block;
    padding: 6px 10px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid rgb(77, 77, 77);
}
.input-form>input[type=text]:focus {
    outline-style: none;
    /* 수평거리 수직거리 흐림정도 번짐정도 색상 */
    box-shadow: 0 0 3px 3px #c5e9ff;
}

.input-form>input[type=password] {
    width: 100%;
    display: inline-block;
    padding: 6px 10px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid rgb(77, 77, 77);
}
.input-form>input[type=password]:focus {
    outline-style: none;
    box-shadow: 0 0 3px 3px #c5e9ff;
}

.input-form>button[type=button] {
    width: 100%;
    display: inline-block;
    border: 1px none rgb(77, 77, 77);
    border-radius: 6px;
    background-color:rgb(50, 122, 194);
    color: aliceblue;
    padding: 9px 0;
}
.input-form>button[type=button]:hover {
    background-color:rgb(36, 93, 150);
}

.regist-form {
    width: 400px;
}

.regist-form>span {
    padding-left: 8px;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: rgb(32, 32, 240);
    font-size: 12px;
}

.right {
    /* checkbox 는 display 속성이 inline-block 이기 때문에
     a 태그는 inline 레벨로 배치되는데 right 로 오른쪽으로 배치 */
    float: right;
}