<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
 	<typeAliases>
		<typeAlias type="com.my.web.account.model.AccountDTO" alias="account" />
		<typeAlias type="com.my.web.account.model.AccountInfoDTO" alias="accountInfo" />
		<typeAlias type="com.my.web.board.model.BoardDTO" alias="board" />
	</typeAliases>
</configuration>